.table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
}

.table {
    display: table;
    width: 100%;
    min-width: 900px;
}

.webhook-logs-table {
    display: table;
    width: 100%;
    min-width: 1200px;
}

@media screen and (max-width:489px) {

    .table,
    .webhook-logs-table {
        min-width: auto;
    }
}

.d-flex {
    display: flex;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-3 {
    gap: 1rem !important;
}

.text-center {
    text-align: center;
}

.pb-4px {
    padding-bottom: 4px;
}

.condition {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .condition {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .condition {
        grid-template-columns: 1fr 1fr 1fr auto;
    }
}

@media screen and (min-width: 768px) {
    .search-container {
        width: 50%;
    }
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.position-absolute {
    position: absolute;
}

.z-10 {
    z-index: 10;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}